:root {
  --app-font: 'Quicksand', 'Lato', sans-serif;
  --neutral-color: white;
}

.App {
  font-family: var(--app-font);
  text-align: center;
  background: var(--neutral-color);
  user-select: none;
}

input {
  border: 1px solid black;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}